body {
	background-color: 	#FAF0E6;

}

header {
	margin: 0;
	background-color: white;
	width: 100%

}

#temptyline {
	width: 100%;
	height: 25px;
	
}

.middleline {
	margin: 0 15% 

}
#dlogo {
	display: inline-block;
}
.socrefs {
	display: inline-block;
}
.socrefs>ul>li {
	display: inline;
}
.socrefs img {
	width: 16px;
	height: 16px;
	margin: 0 5px;
}
.search {
	display: inline-block;
	margin-left: 15%;
}
.search input{
	border-radius: 8px;
	border: 2px solid #B0C4DE;
}
.search input:focus {
	border-radius: 8px;
	border: 2px solid red;
}
button {
	background-color: white;
	border: 2px solid #B0C4DE;
	border-radius: 8px;
}
button:hover {
	border: 2px solid red;
}
.middleline>nav {
	display: inline;
	margin-left: 15%;
	margin-right: 0;
	
}
.navigation {
	background-color: black;
	padding: 1px;
	color: white;
	font-size: 20px;

}
.navigation a {
	color: white;
	font-size: 20px;
}
.navigation li {

	display: inline;
	margin: 3px 3px 3px 3px;
	background: black;
	padding: 3px;

}
.navigation ul {
	position: relative;
	margin-left: 10%;

}
header div #container {
	background-color: white;
	border: 1px solid black;
	width: 70%;
}
aside {
	position: relative;
	float: left;
	margin-left: 10%;
	background-color: white;
	width: 8%;
}
aside ul {
	position: relative;
	margin: 5%;
}
aside li {
	background-color: #D3D3D3;
	display: block;
	border: 1px solid 	#778899;
	position: relative;
	padding: 3px;
	text-align: left;
	margin-right: 5%;
	margin-left: -30%;
	
}