body .red {
  color: red;
}
body p {
  color: red;
}
body p span {
  color: red;
}
body .dsadsadas:hover {
  color: red;
}
body .dsadsadas:link {
  color: blue;
}
body .dsadsadas:visited {
  font-weight: bold;
}
body .dsadsadas.red {
  background: transparent;
  width: 22px;
}
