body {background-color: #FAEBD7;
}
p {
	font-size: 20pt;
}
#button {
	float: left;
	width: 25%;
}
table {
	width: 50%;  
	text-align:center;
	margin: auto;
	position: center;
	border-collapse: separate;
	border-spacing: 0;
}
td p {font: bold italic 20pt serif;
}

td {border: 1px solid;
	border-color: #778899;
 margin-top: 0;
 margin-bottom: 0;
 background-color: floralwhite;
}
#top-left {
	border: 1px solid #778899;
	border-top-left-radius: 20px;

}
#top-right {
	border: 1px solid #778899;
	border-top-right-radius: 20px;
}
#bottom-left {
	border: 1px solid #778899;
	border-bottom-left-radius: 20px;
}
#bottom-right {
	border: 1px solid #778899;
	border-bottom-right-radius: 20px;}
input {border-radius :5px;
	float: right;
	margin-top: 8px;
}
label {font-family: Courier;}
#login, #password {
	width: 50%;
	height: 15px;
}
@media screen and (max-height: 300px){
#last{
    display: none;}
#bottom-left2 {	
    border: 1px solid #778899;
	border-bottom-left-radius: 20px;}
#bottom-right2 {
	border: 1px solid #778899;
	border-bottom-right-radius: 20px;
}
}