.field {
	width: 600px;
	height: 1200px;
	position: relative;
	
	
}

.ball{
background-image: url('./image/ball.jpg');
background-size: 100% 100%;
width: 50px;
height: 50px;
position: absolute;
top: 244px;
left: 150px;
}

.man{
	background-image: url('./image/neymar-sprite.png');
	height: 294px;
	width: 150px;
	position: absolute;
	top: 0
	left: 0;
	
}
.field:hover .ball {
	top: 0px;
	left: 300px;

	transition-property: top, left, transform;
	transition-duration: 1.5s;
	transform: rotate(90deg);
}
.field:hover .man {
width: 230px;
background-position: 1470px;
}

.roof .st {
 background-image: url('./image/Сталактит.png');
 width: 50px;
 height: 100px;
 background-size: 100% 100%;
 display: inline-block;
 vertical-align: text-top;
 /*float: left;*/
}
/*.roof {
	overflow: auto;
}*/
.st._sX {
	height: 90px;
}
.st._sXL {
height: 120px;
}
.st._sXXL {
	height: 132px;
}
.bang {
	background-image: url ('.image/bang.png');
	height: 55px;
	width: 60px;
}