.field {
	width: 600px;
	height: 600px;
	position: relative;
	
}
.sky {
	width: 600px;
	height: 300px;
	

}
.ball{
background-image: url('./image/ball1.png');
background-size: 100% 100%;
width: 50px;
height: 50px;
position: absolute;
top: 244px;
left: 145px;
}

.man{
	background-image: url('./image/neymar-sprite.png');
	height: 294px;
	width: 150px;
	position: absolute;
	top: 0;
	left: 0;
	
}
.field:hover .ball {
	top: 215px;
	left: 175px;	
	animation-name: weird_ball;
	animation-duration: 6s;
	animation-timing-function: linear;
}
.field:hover .man {
width: 230px;
background-position: 1470px;
transform: rotateZ(-90deg);
 transition:transform 1s linear 6s;
}

.UFO {
	background-image: url('./image/ufo.png');
	background-size: 100% 100%;
	width: 300px;
	height: 300px;

	position: absolute;
	left: 455px;
	top: 10px;
	
}
.field:hover .UFO {
	top: 10px;
	left: 300px;
	animation-name: ufo_out;
	animation-delay: 6s;
	animation-duration: 5s;
	animation-timing-function: linear;
}
@keyframes weird_ball {
0% {
	top: 244px;
	left: 145px;
	
}
20% {
	top: -40px;
	left: 580px;
}
70% {
	top: -90px;
	left: 580px;
}
100% {
	top: 4px;
	left: 100px;
}
}
@keyframes ufo_out {
0% {
	
	top: 10px;
	left: 455px;
}

100% {
	top: 10px;
	left: 300px;
}
}